<div class="flex-align">
    <div class="container span7 text-center col-md-4 col-md-offset-3">
        <div class="row">
            <blockquote class="blockquote text-right">
                <p>You lost today, kid.</p>
                <footer class="blockquote-footer">Fedora, Indiana Jones and the Last Crusade <cite title="Source Title">(1989)</cite></footer>
              </blockquote>
            <img src="assets/images/adventure.png"/>
            <span>404 - Page not found.</span>
        </div>
    </div>
</div>