<app-header [title] = "title"></app-header>

<router-outlet></router-outlet>

<app-footer [currentApplicationVersion] = "currentApplicationVersion" [isProductionEnvironment] = "isProductionEnvironment"></app-footer>
