<div class="flex-align">
    <div class="container text-center col-md-8">
        <div class="row">
            <div class="col text-center img-login">
                <img src="assets/images/no-photo.png"/>
            </div>
            <div class="col text-center">
                <app-login></app-login>
            </div>
        </div>
    </div>
</div>